.menu-item{
  h3{
    color:rgba(0,0,0,.8)
  }
  display: inline-block;
  width: 100%;
  margin: auto;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 1em 0 1em 0;
  border-bottom: 2px dotted #9E9E9E;

  // position: relative;
  // min-height: 200px;
  float: left;
}
.menu-item-desktop{
  width: 48%;
  margin: 0 1%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(0%, -50%);
}
