.menu-selector{
  text-align: center;
  font-size: 150%;
  ul{
    li{
      font-weight: lighter;
      display: inline-block;
      padding: 0 1rem 0 1rem
    }
  }
}
.active{
  position: relative;
}
.active:after  {
  content:"";
   background: rgba(0,0,0,0.5);
   position: absolute;
   bottom: 0;
   left: 25%;
   width: 50%;
   height: 1px;

}
