.menu-item{
  h3{
    color:rgba(0,0,0,.8)
  }
  display: inline-block;
  width: 100%;
  margin: auto;
  font-size: 50px;
  line-height: 80px;
  padding: 1em 0 1em 0;
  border-bottom: 7px dotted #9E9E9E;

}
