.about{

}

.about-image{
  display: none
}


.about-text{
  width: 80%;
  margin:auto;
}
.about-text-wrapper{
  // width: 70%;
  margin: auto;
  padding: 20px 0;
  h3{
    font-size: 200%;
    margin-bottom: 1em;
  }

  p{
    line-height: 1.5em;
    margin-bottom:1em;
  }
  .open-hours-containter{
    // position: absolute;
    // bottom: 1em;
    // left: 15%;
    .open-hours-label{
      // margin-bottom: .5em;
    }
  }
}
