.contact{
  // height: 100vh;
  padding-top: 1em;
  clear: both;
}
.contact-section{
  text-align: center;
}
.contact-title{
  text-align: center;
}
.contact-info{
  text-align: center;
  margin: 2em 0 0 0;

  p{
    font-size: 1.5em;
    margin-top: 1em;
  }
  // height: 30%;
}
.address-info{
  font-weight: bold;
}
.contact-container{
  width: calc(100% - 40px);
  margin: 0 auto 2em auto;
  height: 100%
}
.iframe-container{
  height: 20em;
  margin: 5% 0 5% 0;
  // width: 100%;
}
iframe{
  height: 100%;
  width: 100%;
}


@media (min-width: 900px) {
  .iframe-container{
    width: 60%;
    display: inline-block;
    float: left;
  }
  .contact-info{
    width: 40%;
    height: 20em;
    display: inline-block;
    position: relative;
    margin: 5% 0 5% 0;
    float: right;
    .contact-info-center-wrapper{
      position: absolute;
      right: 50%;
      width: 100%;
      top: 50%;
      transform: translate(50% ,-50%);
    }
  }
}
