.contact{
  height: 100vh;
}
.contact-info{
  height: 30%;
}
.contact-container{
  width: calc(100% - 40px);
  margin: auto;
}
.iframe-container{
  height: 70%;
  // width: 100%;
}
iframe{
  height: 100%;
  width: 100%;
}
