.contact{
  // height: 100vh;
}
.contact-info{
  p{
    margin-top: 1em;
  }
  // height: 30%;
}
.contact-container{
  width: calc(100% - 40px);
  margin: auto;
  height: 100%
}
.iframe-container{
  height: 20em;
  margin: 5% 0 5% 0;
  // width: 100%;
}
iframe{
  height: 100%;
  width: 100%;
}
