.menu-container{
  width:100%;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.6em;
  color: rgba(0,0,0,.5);
  padding: 20px 60px 20px 60px;
  box-sizing: border-box;
}
